name: Deploy files to S3

on:
  push:
    branches:    
      - 'dev/**'
      - 'qa/**'
      - 'prod/**'

  workflow_dispatch:

env:
  S3_BUCKET_DEV: shc-verifier-services-dev
  S3_BUCKET_TEST: shc-verifier-services-test
  S3_BUCKET_PROD: shc-verifier-services-prod
  REGION: us-east-1
jobs:
  deployToS3:
    if: contains(github.ref, '-deploys3-')
    name: 'Deploy locale file to S3'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Set environment for locale update
      if: contains(github.ref, 'locale') 
      run: |
        echo "SRC_DIR=resources/public/locales
        TARGET_DIR=locales" >> $GITHUB_ENV
    - name: Set environment for remote-config update
      if: contains(github.ref, 'remote-config') 
      run: |
        echo "SRC_DIR=resources/public/remote-config
        TARGET_DIR=remote-config" >> $GITHUB_ENV
    - name: Set environment for vaccine-codes update
      if: contains(github.ref, 'vaccine-codes') 
      run: |
        echo "SRC_DIR=resources/public/vaccine-codes
        TARGET_DIR=vaccine-codes" >> $GITHUB_ENV
    - name: Set environment varable dev
      if: contains(github.ref, 'dev') 
      run: |
        echo "AWS_ROLE_TO_ASSUME=${{secrets.AWS_ROLE_TO_ASSUME_DEV}}
        S3_BUCKET=${{env.S3_BUCKET_DEV}}
        AWS_SESSION_NAME=${{secrets.AWS_SESSION_NAME_DEV}}" >> $GITHUB_ENV
    - name: Set environment varable test
      if: contains(github.ref, 'test')
      run: |
        echo "AWS_ROLE_TO_ASSUME=${{secrets.AWS_ROLE_TO_ASSUME_TEST}}
        S3_BUCKET=${{env.S3_BUCKET_TEST}}
        AWS_SESSION_NAME=${{secrets.AWS_SESSION_NAME_TEST}}" >> $GITHUB_ENV
    - name: Set environment varable prod
      if: contains(github.ref, 'prod') 
      run: |
        echo "AWS_ROLE_TO_ASSUME=${{secrets.AWS_ROLE_TO_ASSUME_PROD}}
        S3_BUCKET=${{env.S3_BUCKET_PROD}}
        AWS_SESSION_NAME=${{secrets.AWS_SESSION_NAME_PROD}}" >> $GITHUB_ENV
    - name: 'Configure AWS Role'
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.TERRAFORM_AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.TERRAFORM_AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.REGION }}
        role-to-assume: ${{ env.AWS_ROLE_TO_ASSUME }}
        role-duration-seconds: 1200
        role-session-name: ${{ env.AWS_SESSION_NAME }}
    - name: 'Sync files to S3'
      run: |
        cd ${{ env.SRC_DIR }}; aws s3 sync . 's3://${{ env.S3_BUCKET }}/${{ env.TARGET_DIR }}' 
